body {
    margin: 0;
    padding: 0;
    background-color: #fff8ec;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #4b2e2e;
    text-align: center;
  }

  header{
    width: 100%;
    background-color: #ffcc99;
  }
  h1 {
    font-size: 120px;
    margin: 0;
    line-height: 1;
  }

  p {
    font-size: 24px;
    margin: 20px 0;
  }

  .kruasan {
    font-size: 150px;
    animation: spin 3s linear infinite;
    margin: 20px 0;
  }

  .btn {
    background-color: #ffcc99;
    border: 3px dashed #a0522d;
    padding: 14px 28px;
    font-size: 20px;
    color: #4b2e2e;
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    transition: 0.3s;
  }

  .btn:hover {
    background-color: #ffe0b3;
    transform: scale(1.1);
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .subtext {
    font-size: 18px;
    color: #a0522d;
    margin-top: 15px;
  }


  /* ////////////////////////////////////////// */
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 90%;
    max-width: 1200px;
    justify-content: center;
}

.gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.gallery img:hover {

  transform: scale(2);
  z-index: 40;
  object-fit: contain;
}
